.control-label  {
	float:left;
	width:183px;
}

.ZIP_code {
	width:60px;
}

.house, .building, .structure, .flat {
	width:45px;
}

.control-group.physical {
	display:none;
}

.form-block.physical .control-group.physical {
	display:block;
}

.form-block.physical .juridical {
	display:none;
}

#third {
	display:none;
}

#third.payer {
	display:block;	
}
